@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #6b8bff;
  --foreground: #171717;
  --shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --a1: rgba(255, 255, 255, 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6b8bff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
